
@{
    ViewBag.Title = "Registration";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<h2>Registration</h2>

<form action="/Home/Submission" method="get">
    <div>
    First Name <input class="Registration" type="text" name="fName" /><br />
    Last Name <input class="Registration" type="text" name="lName" /><br />
    Email <input class="Registration" type="text" name="email" /><br />
    Phone Number <input class="Registration" type="number" name="phone" /><br />
    <input type="submit" value="Register" />
    </div>
</form>

<h1>   </h1>

